{:deps {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/spec.alpha {:mvn/version "0.2.194"}
        criterium/criterium {:mvn/version "0.4.6"}}
 :aliases
 {:day01 {:exec-fn day01/run
          :exec-args {}}

  :day02 {:exec-fn day02/run
          :exec-args {}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}